[submodule "pico-sdk"]
	path = pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "pico-extras"]
	path = pico-extras
	url = ../../raspberrypi/pico-extras.git
[submodule "libs/fruit"]
	path = libs/fruit
	url = ../../google/fruit.git
