# Ignore everything
#/*
/cmake-build-debug
/.idea
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
.cmake/
generated/
elfuf2
# Files
!/*.cpp
!/.gitignore
!/.gitmodules
!/CMakeLists.txt
!/readme.md
/PicoTemplate.bin
/PicoTemplate.dis
/PicoTemplate.elf
/PicoTemplate.elf.map
/PicoTemplate.hex
/PicoTemplate.uf2
