[submodule "pico-sdk"]
	path = pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "pico-extras"]
	path = pico-extras
	url = ../../raspberrypi/pico-extras.git
[submodule "libs/fruit"]
	path = libs/fruit
	url = ../../google/fruit.git
[submodule "libs/fmt"]
	path = libs/fmt
	url = ../../fmtlib/fmt.git
[submodule "libs/nanopb"]
	path = libs/nanopb
	url = ../../nanopb/nanopb.git
	branch = master
[submodule "libs/nanopb_cpp"]
	path = libs/nanopb_cpp
	url = ../../nanopb/nanopb_cpp.git
	branch = master
